/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* ESERCIZIO 1 */

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}


/* ESERCIZIO 2 */

.ex-2-square{
  transition: width 2s;
}

.ex-2-square:active{ 
  width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
  transition: border-radius 2s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square{
  transition: opacity 2s;
}

.ex-4-square:hover{
  opacity: 0%;
}

/* ESERCIZIO 5 */

.ex-5-square{
  transition: 1s;
}

.ex-5-square:hover{
  transform: scale(1.5);
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* ESERCIZIO 6 */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: sepia(1) grayscale(0.5);
}

/* ESERCIZIO 8 */

.ex-8-img{
  transition: 2s;
}

.ex-8-img:hover{
  border-radius: 25px;
  filter: sepia(1) grayscale(0.5);
}

/* ESERCIZIO 9 */

.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{
  border-radius: 25px;
  filter: sepia(0.8) grayscale(0.3);
  transform: scale(1.5);
}

/* ESERCIZIO 10 */

.ex-10-icon {
  animation-name: rotation;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover{
  animation-name: rotation;
  animation: rotation 2s linear;
}

@keyframes rotation{
  0% {
      transform: rotate(0);
  }
  90% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(0);
  }
}

/* ESERCIZIO 12 */


.ex-12-button:hover .ex-12-top-white{
  animation: moveTop 4s; 
}

/* - allo 0% lo mettiamo alla posizione presente in style.css = left:10%
   - al 50% deve andare TUTTO a destra senza fuoriuscire quindi il 100%   del  contenitore MENO la grandezza del div che muoviamo (60px)
   - al 100% deve tornare al punto di partenza (vedi punto 1)

*/


@keyframes moveTop {
  0% {
    left: 10%;
  }
  
  50% {
    left: calc(100% - 60px);
  }
  
  100% {
    left: 10%;
  }
}



/* - allo 0% lo mettiamo alla posizione presente in style.css = right:20%
   - al 50% deve andare TUTTO a sinistra senza fuoriuscire quindi il 100%   del  contenitore MENO la grandezza del div che muoviamo (60px) sennò straborda
   - al 100% deve tornare al punto di partenza (vedi punto 1)
*/


.ex-12-button:hover .ex-12-bottom-white{
  animation: moveBottom 4s;
  
}

@keyframes moveBottom {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

/* ESERCIZIO 13 */


.ex-13-button:hover .ex-13-bottom-white{
  animation: moveBottom2 4s;
  
}

@keyframes moveBottom2{ 
  0%{
    bottom: -10px;
    right: 20%;
  }

  30%{
    right: calc(100% - 30px);
    bottom: -10px;
  }

  45%{
    right: calc(100% - 30px);
    bottom: 100%;
  }

  75%{
    right: -10px;
    bottom: 100%;
  }

  90%{
    right: -15px;
    bottom: -10px;
  }

  100%{
    bottom: -10px;
    right: 20%;
  }
}




.ex-13-button:hover .ex-13-top-white{
  animation: moveTop2 4s;
  
}

@keyframes moveTop2 {
  0% {
    left: 10%;
    top: -10px;
}
30% {
    left: calc(100% - 30px);
    top: -10px;
}
45% {
    left: calc(100% - 30px);
    top: 100%;
}
75% {
    left: 0;
    top: 100%;
}
90% {
    left: -15px;
    top: -10px;
}
100% {
    left: 10%;
    top: -10px;
}
}